body{
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.textosuperiormeio{
    font-size: medium;    
    position: fixed;
    padding-left: 150px;
}

.textosuperiordireito{
    font-size: small;
    padding-left: 340px;
    padding-bottom: 15px;
}