body{
    background-color: rgb(19, 19, 19);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.textosuperior{
    align-items: center;
}

.textosuperiormeio{
    font-size: medium;    
    position: fixed;
    padding-left: 150px;
}

.textosuperiordireito{
    font-size: small;
    padding-left: 340px;
    padding-top: 15px;
}

img{
    width: 100px;
    height: 100px;
    margin: 3px;
}

.perfil{
    text-align: center;
    margin: 45% 25% 25% 25%;
    display: flex;
}

.legenda{
    font-size: x-small;
}

.textosuperior2{
    align-items: center;
    background-color:rgb(49, 49, 49);
    padding-bottom: 1000px;
    border-radius: 30px;
    margin-top: 40px;
}

.textosuperiormeio2{
    font-size: medium;    
    position: fixed;
    padding-left: 150px;
}

.textosuperiordireito2{
    font-size: small;
    padding-left: 340px;
    padding-top: 15px;
}

.fotoPerfil{
    margin: 10% 38% 3% 38%;
}

.nomePerfil{
    font-size: x-small;
    color: dimgray;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
}

.NomePerfil1{
    color: rgb(151, 151, 151);
    margin: 2% 4% 2% 4%;
}

.NomePerfil2{
    color: white;
    margin: 2% 4% 2% 4%;
}